.body-background {
    background-color: black;
    background-image: url(LotRMap.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.answer-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.question-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}
